@model IEnumerable<EncuestasRC.ViewModels.SurveyListViewModel>


@{
    ViewBag.Title = "Encuestas Completadas";
}

<div class="mb-4 bg-dark text-light pt-2 pb-2 pl-1 border rounded">
    <h5 class="panel-title d-inline">
        Encuestas completadas: @ViewBag.SurveyTitle
    </h5>
    <div class="float-right mr-2 d-inline">
        <button class="btn btn-success" id="exportToExcel" style="height: 34px !important; margin-top: -4px">Exportar a Excel</button>
    </div>
    <input type="hidden" id="surveyId" name="surveyId" value="@ViewBag.SurveyId" />
</div>

<div class="container mb-4">
    <div class="row mb-3">

        <div class="col-12">
            <div class="form-row">
                <div class="col-1">
                    <label class="col-form-label col-form-label-sm">Filtrar por</label>
                </div>

                <div class="col-2">
                    <select class="form-control form-control-sm" id="filterBy">
                        <option value="1">Fecha de Creación</option>
                        <option value="2">Fecha de Entrega</option>
                        <option value="3">Fecha de Cierre</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-row">
                <div class="col-1">
                    <label class="col-form-label col-form-label-sm">Fecha Inicio</label>
                </div>

                <div class="col-2">
                    <input type="text" id="startDate" name="startDate" value="@ViewBag.startDate" class="datepicker form-control form-control-sm" autocomplete="off" />
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-row">
                <div class="col-1">
                    <label class="col-form-label col-form-label-sm">Fecha Fin</label>
                </div>

                <div class="col-2">
                    <input type="text" id="endDate" name="endDate" value="@ViewBag.endDate" class="datepicker form-control form-control-sm" autocomplete="off" />
                </div>
            </div>
        </div>

        <div class="col-6 d-flex align-items-center">
            <button class="btn btn-danger pl-5 pr-5 mt-2" id="btnFiltrar">Filtrar</button>
        </div>
    </div>

</div>


<div>
    <table id="surveysTable" class="table table-striped table-bordered table-condensed table-sm">
        <thead>
            <tr>
                <th style="width: 150px; max-width: 150px">
                    Completada
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Tipo Cliente
                </th>
                <th>
                    Orden
                </th>
                <th>
                    Fecha de Entrega
                </th>
                <th>
                    Fecha de Cierre
                </th>
                <th class="text-center">
                    Resultado
                </th>
                <th class="text-center">
                    Detalle
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.SurveyEnded.Value.Date.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (string.IsNullOrEmpty(item.Customer))
                    {
                        <span>Anónimo</span>
                    }
                    else
                    {
                        <span>@item.Customer</span>
                    }
                </td>
                <td>
                    @if (item.CustomerType == 1)
                    {
                        <span>Minorista</span>
                    }
                    else if (item.CustomerType == 2)
                    {
                        <span>Mayorista</span>
                    }
                    else if (item.CustomerType == 3)
                    {
                        <span>Clave</span>
                    }
                    else if (item.CustomerType == 4)
                    {
                        <span>Esporádico</span>
                    }
                    else if (item.CustomerType == 5)
                    {
                        <span>Centro de Servicios</span>
                    }
                    else
                    {
                        <span></span>
                    }
                </td>
                <td>@item.OrderNo</td>
                <td>@(item.DeliveryDate?.Date.ToString("dd/MM/yyyy"))</td>
                <td>@(item.CloseDate?.Date.ToString("dd/MM/yyyy"))</td>
                <td class="text-center">@item.Result%</td>

                <td align="center">
                    <a class="btn btn-sm btn-info" href="@Url.Action("Encuesta_Completada",new { id = @item.Id, resultado = item.Result, main = ViewBag.SurveyId })" title="Ver detalles">
                        <i class="fa fa-file-text"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@section scripts {
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

}
<script type="text/javascript">

    const deleteSurvey = (id) => {
        if (confirm(`Seguro que desea eliminar esta encuesta?`)) {
            $.ajax({
                "url": "/Survey/DeleteSurvey?id=" + id,
                "type": "POST",
                "success": function (response) {
                    if (response.result === "200") {
                        window.location.reload();
                    } else {
                        console.log(response.message);
                        alert('Hubo un error tratando de eliminar la encuesta (Contacte al administrador del sistema).');
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy"
        });

        surveysTable = $("#surveysTable").DataTable({
            "order": [[0, "desc"]]
        });

        const filterBy = @ViewBag.FilterBy;
        $(`#filterBy option[value='${filterBy}'`).attr('selected', 'selected');

        $("#exportToExcel").click(function (e) {
            e.preventDefault();

            const surveyId = $("#surveyId").val()
            const startDate = $("#startDate").val();
            const endDate = $("#endDate").val();
            const filterBy = $("#filterBy").val();

            const start_date = new Date(`${startDate.substr(3, 2)}/${startDate.substr(0, 2)}/${startDate.substr(6, 4)}`);
            const start_date_formatted = start_date.toLocaleDateString("en-US");

            const end_date = new Date(`${endDate.substr(3, 2)}/${endDate.substr(0, 2)}/${endDate.substr(6, 4)}`);
            const end_date_formatted = end_date.toLocaleDateString("en-US");

            if (surveyId) {
                $.ajax({
                    "url": `/Survey/SurveyReportDetailed?surveyId=${surveyId}&startDate=${start_date_formatted}&endDate=${end_date_formatted}&filterBy=${filterBy}`,
                    "type": "POST",
                    "success": async function (response) {
                        if (response.result === "200") {

                            //export to Excel
                            exportToExcel(response.message)

                        } else {
                            console.log(response.message);
                            alert('Hubo un error tratando de consultar la orden.');
                        }
                    }
                });
            }
        });

        $("#btnFiltrar").click(function (e) {
            e.preventDefault();
            const surveyID = @ViewBag.SurveyId;
            const startDate = $("#startDate").val();
            const endDate = $("#endDate").val();
            const filterBy = $("#filterBy").val();

            const start_date = new Date(`${startDate.substr(3, 2)}/${startDate.substr(0, 2)}/${startDate.substr(6, 4)}`);
            const start_date_formatted = start_date.toLocaleDateString("en-US");

            const end_date = new Date(`${endDate.substr(3, 2)}/${endDate.substr(0, 2)}/${endDate.substr(6, 4)}`);
            const end_date_formatted = end_date.toLocaleDateString("en-US");

            window.location = `/survey/CompletedSurveys/${surveyID}?startDate=${start_date_formatted}&endDate=${end_date_formatted}&filterBy=${filterBy}`;
        })

        //Replace Previous -> Anterior
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Previous', 'Anterior');
        });

        //Replace Next -> Próximo
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Next', 'Próximo');
        });

        //Replace Showing -> Mostrando
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Showing', 'Mostrando');
        });

        //Replace Show -> Mostrar
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Show', 'Mostrar');
        });

        //Replace Entries -> Registros
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('entries', 'registros');
        });

        //Replace Search -> Buscar
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Search', 'Buscar');
        });
    });

    function exportToExcel(htmls) {
        //var htmls = "";
        var uri = 'data:application/vnd.ms-excel;base64,';
        var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
        var base64 = function (s) {
            return window.btoa(unescape(encodeURIComponent(s)))
        };

        var format = function (s, c) {
            return s.replace(/{(\w+)}/g, function (m, p) {
                return c[p];
            })
        };

        var ctx = {
            worksheet: 'Worksheet',
            table: htmls
        }

        const surveyId = $("#surveyId").val()

        var link = document.createElement("a");
        link.download = `Encuesta_${surveyId}.xls`;
        link.href = uri + base64(format(template, ctx));
        link.click();
    }

</script>