@model EncuestasRC.Models.Answer

@{
    var index = 0;
    ViewBag.Title = "Completar Encuesta";
}

<style>
    .question-empty {
        background-color: orangered !important;
        color: white;
    }

    .button-disabled {
        background: gray;
        border-color: gray;
        pointer-events: none;
        cursor: pointer;
    }

</style>

<div class="text-center">
    <h2 class="bg-dark text-light rounded pl-2">@ViewBag.Survey.Title</h2>
    <input type="hidden" id="surveyId" name="SurveyId" value="@ViewBag.Survey.Id" />
</div>

<div class="mt-5" id="surveyDiv">
    <div class="row mb-4">
        <div class="col-12">
            <label>Orden </label>
            <input type="text" id="orderNo" name="orderNo" value="" class="ml-1 col-1" />
            <a class="btn btn-sm btn-info" href="javascript:void(0)" title="Buscar">
                <i class="fa fa-search"></i>
            </a>
        </div>
        <div class="col-12">
            <label>Cliente</label>
            <input type="text" id="customer" name="customer" value="" class="col-4" />
        </div>
    </div>

    @foreach (var item in ViewBag.Questions)
    {
        <p class="font-weight-bold bg-light pl-1" id="question@(index)">@(index + 1)-@item.QuestionTitle</p>

        <table cellpadding="8" class="mb-4">

            <tbody>
                <tr>
                    @foreach (var answer in item.Answers)
                    {
                        <td>
                            <input type="radio" name="question@(index)" id="@item.QuestionId" value="@answer.Id" data-bind="@answer.Points"> @answer.Title
                        </td>
                    }
                </tr>
            </tbody>

        </table>

        index += 1;
    }

    <button class="btn btn-danger pl-5 pr-5" id="btnSaveSurvey">Terminar</button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="successSurvey">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-danger border border-dark">
            <div>
                <h5 class="modal-title text-center text-light pt-3 pb-3">Gracias por participar!</h5>
            
                <div class="text-center pt-3 pb-4">
                    <button type="button" class="btn btn-dark" id="closeSuccessSurvey">Cerrar</button>
                </div>
                
            </div>
          
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    const saveSurvey = (id, surveyId, customer, orderNo) => {
        const url = `/Survey/SaveSurveyHeader?id=${id}&surveyId=${surveyId}&customer=${customer}&orderNo=${orderNo}`

        $.ajax({
            "url": url,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {

                    console.log('header saved')
                    const surveyHeaderId = response.message

                    for (let index = 0; index < @index; index++) {
                        if ($(`input[name='question${index}']:checked`).val() !== undefined) {
                            const questionId = $(`input[name='question${index}']:checked`).attr("id")
                            const answerId = $(`input[name='question${index}']:checked`).attr("value")
                            const points = $(`input[name='question${index}']:checked`).attr("data-bind")

                            await saveSurveyDetail(surveyHeaderId, questionId, answerId, points)

                            $("#surveyDiv :input[type=text]").prop("disabled", true);
                            $(':radio:not(:checked)').attr('disabled', true);
                            $("#btnSaveSurvey").addClass("button-disabled");
                            $("#successSurvey").fadeIn();
                        } 
                    }

                    $("#btnSaveSurvey").removeAttr('disabled')

                } else {
                    console.log(response.message);
                    $("#btnSaveSurvey").removeAttr('disabled')
                    alert('Hubo un error tratando de guardar la respuesta.');
                }
            }
        });
    }

    const saveSurveyDetail = async (surveyHeaderId, questionId, answerId, points) => {
        const url = `/Survey/SaveSurveyDetail?surveyHeaderId=${surveyHeaderId}&questionId=${questionId}&answerId=${answerId}&points=${points}`

        $.ajax({
            "url": url,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {

                    console.log('detail saved')
                    $("#btnSaveSurvey").removeAttr('disabled')

                } else {
                    console.log(response.message);
                    $("#btnSaveSurvey").removeAttr('disabled')
                    alert('Hubo un error tratando de guardar la respuesta.');
                }
            }
        });
    }

    const validateQuestions = () => {
        let valid = true;

        for (let index = 0; index < @index; index++) {

            if ($(`input[name='question${index}']:checked`).val() === undefined) {
                $(`#question${index}`).addClass("question-empty")
                valid = false
            } else {
                $(`#question${index}`).removeClass("question-empty")
            }
        }

        return valid;
    }

    $(document).ready(function () {

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false
        });

        $("#closeSuccessSurvey").click(function (e) {
            e.preventDefault()
            $("#successSurvey").fadeOut();
        });

        $("#btnSaveSurvey").click(function (e) {
            e.preventDefault()

            if (!validateQuestions()) return false;

            $("#btnSaveSurvey").attr('disabled', 'disabled')

            const id = 0
            const surveyId = $("#surveyId").val()
            const customer = $("#customer").val()
            const orderNo = $("#orderNo").val()

            saveSurvey(id, surveyId, customer, orderNo);
        });

    });

</script>
