@{
    var index = 0;
    ViewBag.Title = "Completar Encuesta";
}

<style>
    .question-empty {
        background-color: orangered !important;
        color: white;
    }

    .button-disabled {
        background: gray;
        border-color: gray;
        pointer-events: none;
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="text-center">
    <h2 class="bg-dark text-light rounded pl-2">@ViewBag.Survey.Title</h2>
    <input type="hidden" id="surveyId" name="SurveyId" value="@ViewBag.Survey.Id" />
</div>

@*<button class="btn btn-info" id="btnSend">Enviar</button>*@
<div id="editor"></div>

<div class="mt-5" id="surveyDiv">

    <div class="row mb-4">

        <div class="col-12">
            <div class="form-row">
                <div class="col-2">
                    <label class="col-form-label col-form-label-sm">Fecha</label>
                </div>

                <div class="col-2">
                    <input type="text" id="surveyDate" name="surveyDate" value="" class="datepicker form-control form-control-sm" autocomplete="off" />
                </div>
            </div>
        </div>

        <div class="col-12 mt-1">
            <div class="form-row align-items-center">
                <div class="col-2">
                    <label class="col-form-label col-form-label-sm">Orden</label>
                </div>

                <div class="col-2">
                    <input autocomplete="off" class="form-control form-control-sm" id="orderNo" name="orderNo" placeholder="Orden No." type="text"/>
                    <input autocomplete="off" class="form-control form-control-sm" id="orderType" name="orderType" placeholder="Tipo de Orden" type="text" />
                </div>
                @*<div class="col-1">
                    <a class="btn btn-sm btn-info" href="javascript:void(0)" id="btnSearchOrder" title="Buscar" style="margin-top: 1px">
                        <i class="fa fa-search"></i>
                    </a>
                </div>*@

                @*<div class="col-2">
                    <input type="text" id="orderNo" name="orderNo" value="" class="form-control form-control-sm" autocomplete="off" />
                </div>*@
                <div class="col-1">
                    <a class="btn btn-sm btn-info" href="javascript:void(0)" id="btnSearchOrder" title="Buscar" style="margin-top: 1px">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 mt-1">
            <div class="form-row">
                <div class="col-2">
                    <label class="col-form-label col-form-label-sm">Cliente</label>
                </div>

                <div class="col-4">
                    <input type="text" id="customer" name="customer" value="" class="form-control form-control-sm" />
                </div>
            </div>
        </div>

        <div class="col-12 mt-1">
            <div class="form-row">
                <div class="col-2">
                    <label class="col-form-label col-form-label-sm">Tipo</label>
                </div>
                <div class="col-2">
                    <select id="customerType" name="customerType" class="form-control form-control-sm" style="min-width: 280px">
                        <option value="0">--Seleccionar--</option>
                        <option value="1">Minorista</option>
                        <option value="2">Mayorista</option>
                        <option value="3">Clave</option>
                        <option value="4">Esporádico</option>
                        <option value="5">Centro de Servicios</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-row">
                <div class="col-2">
                    <label class="col-form-label col-form-label-sm">Fecha de Cierre</label>
                </div>

                <div class="col-2">
                    <input type="text" id="closeDate" name="closeDate" value="" class="form-control form-control-sm" autocomplete="off" disabled/>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="form-row">
                <div class="col-2">
                    <label class="col-form-label col-form-label-sm">Fecha de Entrega</label>
                </div>

                <div class="col-2">
                    <input type="text" id="deliveryDate" name="deliveryDate" value="" class="form-control form-control-sm" autocomplete="off" disabled/>
                </div>
            </div>
        </div>

    </div>

    @foreach (var item in ViewBag.Questions)
    {
        <p class="font-weight-bold bg-light pl-1" id="question@(index)">@(index + 1)-@item.QuestionTitle</p>

        <table cellpadding="8" class="mb-4">

            <tbody>
                <tr>
                    @foreach (var answer in item.Answers)
                    {
                        <td>
                            <input type="radio" name="question@(index)" id="@item.QuestionId" value="@answer.Id" data-bind="@answer.Points"> @answer.Title
                        </td>
                    }
                </tr>
            </tbody>

        </table>

        index += 1;
    }

        <div class="form-group">
            <label for="comments"><b>Comentarios</b></label>
            <textarea class="form-control col-12" id="comments" rows="3"></textarea>
        </div>

    <button class="btn btn-danger pl-5 pr-5 mt-2" id="btnSaveSurvey">Terminar</button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="successSurvey">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-danger border border-dark">
            <div>
                <h5 class="modal-title text-center text-light pt-3 pb-3">Gracias por participar!</h5>

                <div class="text-center pt-3 pb-4">
                    <button type="button" class="btn btn-dark" id="closeSuccessSurvey">Cerrar</button>
                </div>

            </div>

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    @*<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>*@
}

<script type="text/javascript">

    const saveSurvey = (id, surveyId, customer, customerType, orderNo, date, comments, closeDate, deliveryDate) => {
        const formattedDate = GetDateFormat(date);
        const deliveryDateFormatted = deliveryDate ? GetDateFormat(deliveryDate) : null;
        const closeDateFormatted = closeDate ? GetDateFormat(closeDate) : null;

        const url = `/Survey/SaveSurveyHeader?id=${id}&surveyId=${surveyId}&customer=${customer}&customerType=${customerType}&orderNo=${orderNo}&date=${formattedDate}&comments=${comments}&closeDate=${closeDateFormatted}&deliveryDate=${deliveryDateFormatted}`;
        
        $.ajax({
            "url": url,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {

                    console.log('header saved')
                    const surveyHeaderId = response.message

                    for (let index = 0; index < @index; index++) {
                        if ($(`input[name='question${index}']:checked`).val() !== undefined) {
                            const questionId = $(`input[name='question${index}']:checked`).attr("id")
                            const answerId = $(`input[name='question${index}']:checked`).attr("value")
                            const points = $(`input[name='question${index}']:checked`).attr("data-bind")
                            
                            await saveSurveyDetail(surveyHeaderId, questionId, answerId, points);

                            $("#surveyDiv :input[type=text]").prop("disabled", true);
                            $("#customerType").prop("disabled", true);
                            $(':radio:not(:checked)').attr('disabled', true);
                            $("#btnSearchOrder").addClass("button-disabled");
                            $("#btnSaveSurvey").addClass("button-disabled");
                            $("#successSurvey").fadeIn();
                        }
                    }

                    $("#btnSaveSurvey").removeAttr('disabled')

                } else {
                    console.log(response.message);
                    $("#btnSaveSurvey").removeAttr('disabled')
                    alert('Hubo un error tratando de guardar la respuesta.');
                }
            }
        });
    }

    const saveSurveyDetail = async (surveyHeaderId, questionId, answerId, points) => {
        const url = `/Survey/SaveSurveyDetail?surveyHeaderId=${surveyHeaderId}&questionId=${questionId}&answerId=${answerId}&points=${points}`

        $.ajax({
            "url": url,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {

                    console.log('detail saved')
                    $("#btnSaveSurvey").removeAttr('disabled')

                } else {
                    console.log(response.message);
                    $("#btnSaveSurvey").removeAttr('disabled')
                    alert('Hubo un error tratando de guardar la respuesta.');
                }
            }
        });
    }

    const validateQuestions = () => {
        let valid = true;

        for (let index = 0; index < @index; index++) {

            if ($(`input[name='question${index}']:checked`).val() === undefined) {
                $(`#question${index}`).addClass("question-empty")
                valid = false
            } else {
                $(`#question${index}`).removeClass("question-empty")
            }
        }

        return valid;
    }

    $(document).ready(function () {

        $(".datepicker").val(new Date().toLocaleDateString())
        $(".datepicker").datepicker();

        //var doc = new jsPDF();
        //var specialElementHandlers = {
        //    '#editor': function (element, renderer) {
        //        return true;
        //    }
        //};

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false
        });

        $("#btnSend").click(function (e) {
            e.preventDefault();

            doc.fromHTML($('#surveyDiv').html(), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('survey-test.pdf');
        });

        $("#btnSearchOrder").click(function (e) {
            e.preventDefault();

            const order = $("#orderNo").val();

            if (order) {
                $.ajax({
                    "url": `/Survey/CustomerNameForOrder?order=${order}`,
                    "type": "POST",
                    "success": async function (response) {
                        console.log('response:', response);

                        if (response.result === "200" || response.result === "404") {

                            $("#customer").val(response.message);

                            if (response.result === "200") {
                                console.log('result:', response)
                                const results = response.message.split("|");

                                $("#customer").val(results[0]);
                                $("#orderType").val(`${results[1]}`);
                                $("#orderNo").val(`${results[2]}`);
                                $("#closeDate").val(`${results[3]}`);
                                $("#deliveryDate").val(`${results[4]}`);
                            }
                        } else {
                            console.log(response.message);
                            alert('Hubo un error tratando de consultar la orden.');
                        }
                    }
                });
            }
        });

        $("#closeSuccessSurvey").click(function (e) {
            e.preventDefault()
            $("#successSurvey").fadeOut();
            window.location.reload(false);
        });

        $("#btnSaveSurvey").click(async function (e) {
            e.preventDefault()

            if (!validateQuestions()) return false;

            $("#btnSaveSurvey").attr('disabled', 'disabled')

            const id = 0
            const surveyId = $("#surveyId").val()
            const customer = $("#customer").val()
            const customerType = $("#customerType").val()
            const orderNo = $("#orderNo").val()
            const orderType = $("#orderType").val()
            const date = $(".datepicker").val()
            const comments = $("#comments").val()

            const closeDate = $("#closeDate").val()
            const deliveryDate = $("#deliveryDate").val()

            const orderNoType = `${orderNo}-${orderType}`;
            await saveSurvey(id, surveyId, customer, customerType, orderNoType, date, comments, closeDate, deliveryDate);
        });

    });

    function GetDateFormat(date) {
        if (navigator.languages != null && navigator.languages[0].includes("es")) {
            const parts = date.split("/");
            const dt = new Date(parseInt(parts[2], 10),
                parseInt(parts[1], 10) - 1,
                parseInt(parts[0], 10));

            return dt.toLocaleString("en-US")
        } else {
            const parts = date.split("/");
            const dt = new Date(parseInt(parts[2], 10),
                parseInt(parts[1], 10) - 1,
                parseInt(parts[0], 10));

            return dt.toLocaleDateString();
        }
    }

</script>
