@model IEnumerable<EncuestasRC.Models.Survey>

@{
    ViewBag.Title = "Encuestas";
}

<div class="mb-4 bg-dark text-light panel-custom">
    <h5 class="panel-title">
        Encuestas
        <div class="btn-group pull-right">
            <a href="@Url.Action("new")" class="btn btn-danger btn-sm">Nueva Encuesta</a>
        </div>
    </h5>
</div>


<div>

    <table id="usersTable" class="table table-striped table-bordered table-condensed table-sm">
        <thead>
            <tr>
                <th>
                    Titulo
                </th>
                <th class="text-center">
                    Activa
                </th>
                <th>
                    Creada
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td class="text-center">
                        @if (item.Active)
                        {
                        <span>Sí</span>
                        } else
                        {
                        <span>No</span>
                        }
                    </td>
                    <td>@item.CreateDate</td>

                    <td align="center">
                        <a class="btn btn-sm btn-info" href="@Url.Action("Completar_Encuesta",new { id = @item.Id })" title="Completar encuesta">
                            <i class="fa fa-file-text"></i>
                        </a>
                        <a class="btn btn-sm btn-success" href="@Url.Action("New",new { id = @item.Id })" title="Editar">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-danger" href="javascript:void(0)" onclick="deleteSurvey(@item.Id)" title="Eliminar">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts {
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

}
<script type="text/javascript">

    const deleteSurvey = (id) => {
        if (confirm(`Seguro que desea eliminar esta encuesta?`)) {
            $.ajax({
                "url": "/Survey/DeleteSurvey?id=" + id,
                "type": "POST",
                "success": function (response) {
                    if (response.result === "200") {
                        window.location.reload();
                    } else {
                        console.log(response.message);
                        alert('Hubo un error tratando de eliminar la encuesta (Contacte al administrador del sistema).');
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        $("#usersTable").DataTable();

        //Replace Previous -> Anterior
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Previous', 'Anterior');
        });

        //Replace Next -> Próximo
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Next', 'Próximo');
        });

        //Replace Showing -> Mostrando
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Showing', 'Mostrando');
        });

        //Replace Show -> Mostrar
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Show', 'Mostrar');
        });

        //Replace Entries -> Registros
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('entries', 'registros');
        });

        //Replace Search -> Buscar
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Search', 'Buscar');
        });
    });

</script>